.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.country__link {
  text-decoration: none;
  color: #000;
}

.country__link:visited {
  color: #000;
}

.container__country {
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.container__country img {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.container__country-data {
  padding: 20px;
}

.container__country-data h3 {
  font-size: 2rem;
}

.container__country-data p {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 10px 0px;
}

.container__country-data span {
  font-weight: normal;
}

.container__search {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-self: center;
  justify-content: space-evenly;
  padding: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container__search input {
  border: none;
  outline: none;
}

.container__select select {
  border: none;
  width: 70%;
  padding: 18px;
  font-weight: bold;
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container__select option {
  border: none;
  outline: none;
}

.container__search input::placeholder {
  color: hsl(0, 0%, 52%);
}

.container__search img {
  width: 20px;
  height: 20px;
}
