.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.container__country {
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.container__country img {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.container__country-data {
  padding: 20px;
}

.container__country-data h3 {
  font-size: 2rem;
}

.container__country-data p {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 10px 0px;
}

.container__country-data span {
  font-weight: normal;
}
